<%= javascript_tag do %>
  var terrain_tilesets = [
    <% @tilesets.each do |tileset| %>
      {
        firstgid: <%= tileset[:firstgid] %>,
        image: <%= tileset[:url].to_json.html_safe %>,
        image_width: <%= tileset[:image_width] %>,
        image_height: <%= tileset[:image_height] %>,
        properties: <%= tileset[:properties].to_json.html_safe %>
      },
    <% end %>
      {}
  ];
  terrain_tilesets.pop();  // Remove final empty entry

  var terrain_layers = [
    <% @tile_layers.each do |layer| %>
      {
        name: <%= layer[:name].to_json.html_safe %>,
        data: <%= layer[:data].to_json.html_safe %>,
        visible: <%= layer[:visible].to_json.html_safe %>,
        opacity: <%= layer[:opacity].to_json %>
      },
    <% end %>
      {}
  ];
  terrain_layers.pop();  // Remove final empty entry

  Terrain.clear_terrains();
  window.terrain = new Terrain(
    <%= @width_in_tiles %>, <%= @height_in_tiles %>,
    <%= @tile_width_in_pixels %>, <%= @tile_height_in_pixels %>,
    <%= @viewport_width %>, <%= @viewport_height %>,
    terrain_tilesets, terrain_layers);

  window.humanoids = [
    new Humanoid("skeleton1",
      {
        direction: "down",
        action: "walk",
        x: 0, y: 0,
        animation_stack: ["skeleton", "robe_male", "kettle_hat_male"]
      }),
    new Humanoid("skeleton2",
      {
        direction: "right",
        action: "slash",
        x: 0, y: 0,
        animation_stack: ["skeleton", "chain_armor_female", "plate_shoulder_pad_male", "leather_bracers_male"]
      })
  ]

  // Call init_graphics on page load and page change
  if(!window.page_change_bound) {
    $(document).bind('page:change', function() {
      console.info("Page update!");
      window.init_graphics();
    });
    window.page_change_bound = true;
  }
  $(window.init_graphics);

  window.on_cjs_init = function() {
    var spot1 = window.terrain.random_open_spot();
    var spot2 = window.terrain.random_open_spot();

    window.humanoids[0].jump_to(spot1[0], spot1[1]);
    window.humanoids[1].jump_to(spot2[0], spot2[1]);

    window.humanoids[1].move_to(5, 5)
    window.humanoids[0].move_to(3, 2, "spellcast")
  }

  window.on_cjs_tick = function() {
  };
<% end %>

<div id="loader" class="loader"></div>

<h1>Map View</h1>

<canvas id="displayCanvas" width="<%= [@width_in_tiles, @viewport_width].min * @tile_width_in_pixels %>"
        height="<%= [@height_in_tiles, @viewport_height].min * @tile_height_in_pixels %>"></canvas>

<h2> Terrains </h2>

<ul>
  <% @terrain_names.each do |terrain_name| %>
    <li> <%= link_to(terrain_name, :action => :index, :terrain => terrain_name) %> </li>
  <% end %>
</ul>
