<%= javascript_tag do %>
  var terrain_tilesets = [
    <% @tilesets.each do |tileset| %>
      {
        firstgid: <%= tileset[:firstgid] %>,
        image: <%= tileset[:url].to_json.html_safe %>,
        image_width: <%= tileset[:image_width] %>,
        image_height: <%= tileset[:image_height] %>,
        properties: <%= tileset[:properties].to_json.html_safe %>
      },
    <% end %>
      {}
  ];
  terrain_tilesets.pop();  // Remove final empty entry

  var terrain_layers = [
    <% @tile_layers.each do |layer| %>
      {
        name: <%= layer[:name].to_json.html_safe %>,
        data: <%= layer[:data].to_json.html_safe %>,
        visible: <%= layer[:visible].inspect.html_safe %>
      },
    <% end %>
      {}
  ];
  terrain_layers.pop();  // Remove final empty entry

  window.terrain = new Terrain(<%= @width_in_tiles %>,
    <%= @height_in_tiles %>, <%= @tile_width_in_pixels %>,
    <%= @tile_height_in_pixels %>, terrain_tilesets, terrain_layers);

  window.humanoids = [
    new Humanoid("skeleton1",
      {
        direction: "down",
        action: "walk",
        x: 80, y:92,
        animation_stack: ["skeleton", "robe_male", "kettle_hat_male"]
      }),
    new Humanoid("skeleton2",
      {
        direction: "left",
        action: "slash",
        x: 176, y:92,
        animation_stack: ["skeleton", "chain_armor_female", "plate_shoulder_pad_male", "leather_bracers_male"]
      })
  ]

  // Call init_graphics on page loaded
  $(window.init_graphics);

  window.on_cjs_init = function() {
    // TODO: library should do this automatically
    Humanoid.init_with_stage(window.stage);
  }

  window.on_cjs_tick = function() {
  };
<% end %>

<div id="loader" class="loader"></div>

<h1>Map View</h1>

<canvas id="displayCanvas" width="<%= @width_in_tiles * @tile_width_in_pixels %>"
        height="<%= @height_in_tiles * @tile_height_in_pixels %>"></canvas>
